/ItemTag.class
/NMSHandler.class
/NMSHandler_1_13_R1.class
/NMSHandler_1_13_R2.class
/NMSHandler_1_14_R1.class
/NMSHandler_Reflection.class
/NMSHandler_1_12_R1.class
/NMSHandler_1_11_R1.class
/NMSHandler_1_10_R1.class
/NMSHandler_1_9_R1.class
/NMSHandler_1_9_R2.class
/VersionWrapper.class
/VersionWrapper_Reflection.class
/VersionWrapper_1_10_R1.class
/VersionWrapper_1_11_R1.class
/VersionWrapper_1_12_R1.class
/VersionWrapper_1_13_R1.class
/VersionWrapper_1_13_R2.class
/VersionWrapper_1_14_R1.class
/VersionWrapper_1_9_R1.class
/VersionWrapper_1_9_R2.class
