/Bounty.class
/BountyManager.class
/HuntManager$1.class
/HuntManager.class
/Message$PlayerMessage.class
/Message.class
/PlayerData$Value.class
/PlayerData.class
/BountyCause.class
/CustomItem.class
/SpecialChar.class
