/BountyChangeEvent.class
/BountyClaimEvent.class
/BountyCreateEvent.class
/HunterLevelUpEvent.class
/HunterTargetEvent.class
/BountyChangeEvent$Type.class
/BountyChangeEvent$BountyChangeCause.class
/BountyChangeEvent$Cause.class
/BountyExpireEvent.class
/BountyExpireEvent$BountyExpireCause.class
/BountyCreateEvent$BountyCreationCause.class
/BountyCreateEvent$BountyCreateCause.class
/BountyCreateEvent$BountyCause.class
