/AddBountyCommand.class
/BountiesCommand.class
/HuntersCommand.class
/AddBountyCommand$AddBountyCommandArguments.class
/AddBountyCommand$CommandArguments.class
/RedeemBountyHeadsCommand.class
/BountyHuntersCommand.class
