/FriendHandler.class
/BungeeFriendsHook.class
/PartyAndFriendsHook.class
/BungeeFriendsSupport.class
/PartyAndFriendsSupport.class
/TownySupport.class
/McMMOSupport.class
/TownySupport2.class
/MaxBountyAmount.class
/.gitignore
